@model IEnumerable<DTO.ListadoAtletasDTO>

@{
    ViewData["Title"] = "AtletasXDisciplina";
}

<h1>Atletas Por Disciplina</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAtleta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreAtleta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApellidoAtleta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePais)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAtleta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAtleta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoAtleta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePais)
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index">Volver a la lista</a>
