@model IEnumerable<DTO.ListadoDisciplinaDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Disciplina</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDisciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreDisciplina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnioDisciplina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdDisciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDisciplina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnioDisciplina)
            </td>
                <td>
                    @Html.ActionLink("Ver Atletas", "AtletasXDisciplina", new { id = item.IdDisciplina }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdDisciplina }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdDisciplina }, new { @class = "btn btn-danger btn-sm" })
                </td>
        </tr>
}
    </tbody>
</table>
